section h1{
    position: absolute;
    display: grid;
    height: 30px;
    padding: auto;
    margin-top: 170px;
    margin-left: 8vw;
    font-size: 4vw;
}
section ul{
    position: absolute;
    height: 40px;
    margin-top: 260px;
    margin-left: 8vw;
    font-size: 2vw;
    list-style: none;
}
section h1:hover {
    color: wheat;
    transition: .3s ease-in;
}
section h1::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: wheat;
    bottom: -3vw;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
section h1:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
section ul li a:hover {
    color: wheat;
    transition: .5s ease-in;
}