* {
    box-sizing: border-box;
}
.navbar_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color:	#191919;
    color: whitesmoke;
}
.navbar_bg h2 {
    text-align: center;
    color: steelblue;
}
.navbar_page table {
    position: absolute;
    color: white;
    width: 70%;
    top: 10cm;
    left: 6cm;
    text-align: left;
    font-size: 20px;
    border-style: solid;
    border: 1px white;
}
.user_info {
    position: absolute;
    top: 2.5cm;
    left: 6cm;
    z-index: +1;
}
.user_info h3 {
    color: white;
    position: absolute;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: 	#121212;
}